<strong>Olá {{ deliveryman }}</strong>
<p>A entrega do produto {{ produto }} foi cancelada</p>
<p>
  <strong>Motivo: </strong> {{ motivo }} <br>
  <br>
  <small>Dependendo das condições esse produto pode voltar a ser entregue.</small>
</p>
