<strong>Olá {{ deliveryman }}</strong>
<p>Há um novo produto disponivel para entrega</p>
<p>
  <strong>Produto: </strong> {{ produto }} <br>
  <br>
  <small>A retirada dos produtos podem ser feitas entre as 08:00 e 18:00.</small>
</p>
